# binary files
hangar
skopeo
/build/

*.txt
*.out
*.converted
*.tar.gz
*.zstd
*.part*
data.json
/rancher/
/cnrancher/

# default save image directory
/saved-image-cache/

# vscode config
/.vscode/

# Dapper
.dapper
Dockerfile.dapper*
Dockerfile-test.dapper*
!Dockerfile.dapper
!Dockerfile-test.dapper
