# binary files
/hangar
/bin/
/dist/

*.txt
*.out
*.converted
*.tar.gz
*.zstd
*.part*
*.tar
*.zip
*.key
*.pub
*.spdx
*.spdx.json
scan-report.*
tmp*
data.json
charts-repo-cache
/rancher/
/cnrancher/
/vendor/

# default save image directory
saved-image-cache

# vscode config
/.vscode/

# Dapper
.dapper
Dockerfile.dapper*
Dockerfile.test.dapper*
!Dockerfile.dapper
!Dockerfile.test.dapper
